{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <a href="{% url 'gallery' %}" class="btn btn-primary my-3">Back</a>
            <div class="card border">
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group m-3">
                        <label for="formFile" class="form-label mt-4">Description *</label>
                        <input required name="description" class="form-control" type="text" placeholder="Enter a description" id="formFile">
                    </div>
                    <div class="form-group m-3">
                        <label for="formFile" class="form-label mt-4">Select a category</label>
                        <select name="category" class="form-control" type="file" id="formFile">
                            <option value="none">Select a category</option>

                            {% for category in categories %}
                            <option value='{{ category.id }}'>{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group m-3">
                        <label for="formFile" class="form-label mt-4">Create a new category</label>
                        <input name="category_new" class="form-control" type="text" placeholder="Create a new category" id="formFile">
                    </div>
                    <div class="form-group m-3">
                        <label for="formFile" class="form-label mt-4">Upload Image *</label>
                        <input required name="image" class="form-control-file" type="file" id="formFile">
                    </div>
                    <button class="btn btn-primary m-3" type='submit'>Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>





{% endblock content %}